body {
  margin: 0;
}

.shop_store header .bg-color {
  background-color: #1B2E29;
  width: 100%;
  height: 750px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (125px)[6];
      grid-template-rows: repeat(6, 125px);
  -ms-grid-columns: 1fr 1fr 250px 250px 250px 250px 1fr 1fr;
      grid-template-columns: 1fr 1fr 250px 250px 250px 250px 1fr 1fr;
}

.shop_store header .bg-color .bg-bar {
  width: 100%;
  height: 100%;
  background-color: #78CCB6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.shop_store header .bg-color .cy_logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 5;
}

.shop_store header .bg-color .cy_logo img {
  width: 200px;
}

.shop_store header .bg-color .cy_types {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 6;
  grid-column: 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px;
      grid-template-columns: 250px;
  grid-row-gap: 30px;
  -ms-grid-rows: (65px)[4];
      grid-template-rows: repeat(4, 65px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop_store header .bg-color .cy_types .cy_type {
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  line-height: 65px;
}

.shop_store header .bg-color .shimmer_logo {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  z-index: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0.3;
}

.shop_store header .bg-color .shimmer_logo img {
  width: 200px;
  -webkit-filter: contrast(200%);
  /* Safari */
  filter: contrast(200%);
}

.shop_store header .bg-color .sc_types {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 6;
  grid-column: 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px;
      grid-template-columns: 250px;
  grid-row-gap: 30px;
  -ms-grid-rows: (65px)[4];
      grid-template-rows: repeat(4, 65px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop_store header .bg-color .sc_types .sc_type {
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  line-height: 65px;
}

.shop_store header .bg-color .deco_line {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  width: 90%;
  position: relative;
}

.shop_store header .bg-color .deco_line span {
  position: absolute;
  right: -70px;
  top: -20px;
  color: #fff;
  font-size: 28px;
}

.shop_store header .bg-color .deco_line2 {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  -ms-grid-row: 8;
  grid-row: 8;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
}

.shop_store main {
  background-color: #27423B;
  font-size: 20px;
}

.shop_store main .products_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (420px)[3];
      grid-template-rows: repeat(3, 420px);
  grid-column-gap: 25px;
  padding: 50px 0 0 0;
}

.shop_store main .products_list .product {
  color: #fff;
}

.shop_store main .products_list .product .product_img {
  margin: 0 0 20px 0;
}

.shop_store main .products_list .product .product_img img {
  width: 100%;
}

.shop_store main .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50vh;
      grid-template-rows: 50vh;
  padding: 80px 0 0 0;
  color: #fff;
}

.shop_store main .item .item_img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 10px;
}

.shop_store main .item .item_img .img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.shop_store main .item .item_img .img img {
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  width: 100%;
}

.shop_store main .item .item_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5px 60px 60px 5px 60px 1fr 5px 80px 5px 1fr;
      grid-template-rows: 5px 60px 60px 5px 60px 1fr 5px 80px 5px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.shop_store main .item .item_content .white_bar {
  width: 500px;
  border-radius: 10px;
  height: 2px;
  background-color: #fff;
}

.shop_store main .item .item_content .item_pay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop_store main .item .item_content .item_pay span {
  line-height: 40px;
  margin: 0 10px 0 0;
  text-align: center;
}

.shop_store main .item .item_content .item_pay .qty {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr 30px 20px;
      grid-template-columns: 60px 1fr 30px 20px;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop_store main .item .item_content .item_pay .qty .qty_input {
  width: 100%;
  height: 40px;
  margin: 0 10px 0 0;
}

.shop_store main .item .item_content .item_pay .qty img {
  width: 20px;
}

.shop_store main .item .item_content .btn {
  width: 200px;
  height: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #78CCB6;
  border: none;
}

.shop_store main .item .item_content .btn:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=cy_store.css.map */