body {
  margin: 0;
  position: relative;

  .nav_hamburger {
    // width: 100%;
    z-index: 5;
    background-color: rgba(255, 0, 0, 0);
    // border: 3px dashed #939699;
    position: relative;
    #header {
      padding: 2rem;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2000;
    }

    // It actually starts here

    $menu-bg: #de4152;
    $menu-color: #ffffff;
    $menu-font-size: 2.5rem;
    $menu-zindex: 1100;
    $hamburger-color: #fff;
    $hamburger-width: 50px;
    $hamburger-height: 50px;
    $hamburger-zindex: $menu-zindex + 10;

    #menu {
      background: $menu-bg;
      height: 100%;
      left: 0;
      opacity: 0;
      overflow: hidden;
      position: fixed;
      text-align: center;
      top: 0;
      transition: all 0.7s ease-in-out;
      // For some sweet fadez
      visibility: hidden;
      width: 100%;
      z-index: $menu-zindex;
      background-color: #78ccb6;

      &.open {
        opacity: 1;
        visibility: visible;

        @for $i from 1 through 10 {
          li:nth-child(#{$i}) {
            animation-delay: $i * 0.1s;
          }
        }

        li {
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: fadeInUp;
        }
      }

      ul {
        &:hover {
          a {
            opacity: 0.5;
          }
        }

        a {
          // Stops it being a twitchy mess in chrome :pray:
          // https://www.binarymoon.co.uk/2014/02/fixing-css-transitions-in-google-chrome/
          -webkit-transform: translateZ(0);
          transition: opacity 0.3s ease-in-out;
          &:hover {
            opacity: 1;
          }
        }
      }

      .main-nav {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        a {
          color: $menu-color;
          display: block;
          font-size: $menu-font-size;
          font-weight: bold;
          padding: 1rem 1rem;
          text-decoration: none;
          text-transform: uppercase;
          &:first {
            padding-top: 0;
          }
        }
      }

      .menu-footer {
        padding: 2rem;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;

        ul {
          display: inline-block;
          list-style: none;
          margin: 0;
          padding: 0;
          // display: flex;
          // justify-content: center;
          // flex-wrap: nowrap;

          li {
            // .FB_LOGO{
            //   width: 16px;
            //   height: 16px;
            // }
            display: inline;
            margin: 0 1rem;
          }
        }

        a {
          color: $menu-color;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

    // Hamburger menu toggler stuff below
    .toggle-menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline-block;
      // float: right;
      height: $hamburger-height;
      outline: none;
      padding: 0;
      pointer-events: initial;
      position: relative;
      vertical-align: middle;
      width: $hamburger-width;
      z-index: $hamburger-zindex;

      span {
        background-color: $hamburger-color;
        content: "";
        // display: block;
        height: 2px;
        left: calc(50% - 13px);
        position: absolute;
        top: calc(50% - 1px);
        transform-origin: 50% 50%;
        transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
        width: 26px;

        &:before,
        &:after {
          background-color: $hamburger-color;
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          transform-origin: 50% 50%;
          transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
          width: 26px;
        }

        &:before {
          top: 7px;
        }

        &:after {
          top: -7px;
        }
      }

      &.active {
        span {
          background-color: transparent;
          transition: background 0.2s ease-out;

          &:before,
          &:after {
            transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
          }

          &:before {
            top: 0;
            transform: rotate3d(0, 0, 1, -45deg);
          }

          &:after {
            top: 0;
            transform: rotate3d(0, 0, 1, 45deg);
          }
        }
      }
    }
  }

  .cid-rTpW4eKEc3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    // background-color: gray;
    // background-image: url(../img/6e319cc5fd338dcbbcbd3b4219907849.jpg);
    // background-position: center;
    // background-size: cover;
    z-index: 4;
    background-color: #78ccb6;

    .mbr-figure {
      width: 100%;
      height: 50%;
      &:hover {
        .banner_plant {
          .banner_mask {
            .banner_plantTitle {
              opacity: 0;
              transition: 2s;
            }
          }
        }
        .banner_restaurant {
          .banner_mask {
            .banner_restaurantTitle {
              opacity: 0;
              transition: 2s;
            }
          }
        }
      }

      .banner_plant {
        width: 40%;
        height: 100%;
        flex: 1;
        background-image: url(../img/83498394_2983421545025805_643096925087727616_n.jpg);
        background-size: cover;
        background-position: center;
        transition: 2s;
        position: relative;
        .plant_logo {
          width: 200px;
          height: 200px;
          background-image: url(../img/cy_plant/cy_logo_big.png);
          background-position: center;
          background-size: cover;
          position: absolute;
          top: calc(50% - 100px);
          left: calc(50% - 100px);
          opacity: 0;
          transition: 0.8s linear;
        }

        .banner_mask {
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 0.4;
          transition: 2s;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .banner_plantTitle {
            font-size: 32px;
            color: white;
            display: flex;
            writing-mode: vertical-rl;
            transition: 2s;
          }
        }
        &:hover {
          flex: 10;
          .banner_mask {
            opacity: 0;
            transition: 2s;
          }
          .plant_logo {
            opacity: 1;
            transition: 0.8s linear;
          }
        }
      }
      .banner_restaurant {
        width: 40%;
        height: 100%;
        flex: 1;
        background-image: url(../img/29472173_1825757644125540_4426064296467759104_o.jpg);
        background-size: cover;
        background-position: center;
        transition: 2s;
        position: relative;
        .restaurant_logo {
          width: 200px;
          height: 200px;
          background-image: url(../img/sc_shop/sc_logo_big.png);
          background-position: center;
          background-size: cover;
          position: absolute;
          top: calc(50% - 100px);
          left: calc(50% - 100px);
          opacity: 0;
          transition: 0.8s linear;
        }

        .banner_mask {
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 0.4;
          transition: 2s;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .banner_restaurantTitle {
            font-size: 32px;
            color: white;
            display: flex;
            writing-mode: vertical-rl;
            transition: 2s;
          }
        }

        &:hover {
          flex: 10;
          .banner_mask {
            opacity: 0;
            transition: 2s;
          }
          .restaurant_logo {
            opacity: 1;
            transition: 0.8s linear;
          }
        }
      }
    }
  }
  .white_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #map {
      width: 100%;
      height: 100%;
    }

    // .white_container{
    //   width: 100%;
    //   height: 100vh;

    //   .poems_space{
    //     width: 75%;
    //     height: 100%;
    //     display: flex;

    //     .sun_icon{
    //       width: 100%;
    //       height: 20%;

    //       .poems{
    //         width: 100%;
    //         height:80%;
    //         writing-mode: vertical-lr;
    //         .verse{
    //           width: 100%;
    //           width: 100%;
    //         }
    //       }
    //     }
    //   }
    //   .headline_space{
    //     width: 25%;
    //     height: 100%;
    //     writing-mode: vertical-lr;
    //   }

    // }
  }
  .pagetop_footer {
    width: 100%;
    // height: 255px;
    background-color: #78ccb6;
    display: flex;
    justify-content: center;
    // background-image: url(../img/footer-background.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 20px;

    .footer_container {
      width: 100%;
      max-width: 1170px;
      // padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 20px;

      .footer_logo {
        width: 25%;
        height: 157px;
        display: flex;
        align-items: center;
        // margin-left: 20px;
      
        @media (max-width: 768px) {
          width: 50%;
          justify-content: center;
        }
        img {
          width: 157px;
          height: 157px;
        }
      }
      .footer_contact {
        width: 50%;
        // height: 157px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 768px) {
          width: 100%;
        }

        .social_media {
          width: 25%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          @media (max-width: 768px) {
            width: 100%;
            justify-content: flex-start;
            margin-top: 20px;
          }
          .fblogo {
            width: 40px;
            height: 40px;
            background-image: url(../img/facebook_7.svg);
            background-position: center;
            background-size: cover;
            transition: 1s;
            &:hover {
              background-image: url(../img/facebook_5.svg);
              transition: 1s;
            }
            @media (max-width: 768px) {
              margin: 0 60px 0 40px;
            }
          }
          .iglogo {
            width: 40px;
            height: 40px;
            background-image: url(../img/instagram_1.svg);
            background-position: center;
            background-size: cover;
            transition: 1s;
          
            &:hover {
              background-image: url(../img/instagram_2.svg);
              transition: 1s;
            }
          }
        }

        .phpone {
          width: 100%;

          .phpone_number {
            width: 100%;
          }
        }
        .business_hour {
          width: 100%;
        }
        .address {
          width: 100%;
        }
      }
      .white_line {
        width: 100%;
        border-bottom: solid whitesmoke 2px;
        margin: 12px 0;
        @media (max-width: 768px) {
          margin-top: 12px;
        }
      }
      .footer_copyright {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
