html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  list-style: none;
  font-family: "CWTEXFANGSONG";

  //------------------------------此區可對物品添加陰影
  .box-shadow {
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
  }
  .drop-shadow {
    filter: drop-shadow(0 12px 3px rgba(0, 0, 0, 0.6));
  }
  // ------------------------------

  .banner {
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    padding: 0 5%;

    ul {
      padding: 10px;
      a {
        font-size: 28px;
        color: #270501;
        transition: 0.5s;

        @media (max-width: 960px) {
          font-size: 24px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
        @media (max-width: 650px) {
          font-size: 16px;
        }
        &:hover {
          color: crimson;
        }
      }
    }
    .cy_logo {
      padding: 5% 0 10%;
      width: 100%;
    }
  }

  .calendar_container {
    background-image: url(../img/background.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 100vh;
    padding: 5% 0;
    @media (max-width: 1200px) {
      height: unset;
    }

    .content {
      width: 100%;
      // height: 100%;
      @media (max-width: 1200px) {
        height: unset;
      }

      .note {
        width: 50%;
        min-width: 300px;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-image: url(../img/cy_calendar_L.jpg);
        @media (max-width: 1200px) {
          order: 3;
        }
        .note_box {
          flex-direction: column;
          padding: 10% 5%;
          h3 {
            color: white;
            align-self: center;
            font-size: 45px;
            @media (max-width: 1440px) {
              font-size: 43px;
            }
            @media (max-width: 1200px) {
              padding: 3% 0 0;
            }
            @media (max-width: 1024px) {
              font-size: 41px;
            }
            @media (max-width: 768px) {
              font-size: 39px;
            }
          }
          li {
            padding: 0 5%;
            color: white;
            font-size: 22px;
            @media (max-width: 1440px) {
              font-size: 20px;
            }
            @media (max-width: 1200px) {
              padding: 2px 0;
            }
            @media (max-width: 1024px) {
              font-size: 18px;
            }
            @media (max-width: 768px) {
              font-size: 16px;
            }
          }
        }
      }
      .calendar {
        width: 50%;
        background-color: #5e7467;
        align-items: center;

        @media (max-width: 1200px) {
          order: 1;
        }
        .calendar_box {
          width: 100%;
          @media (max-width: 1200px) {
            padding: 10% 5%;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .sec_background_top {
    width: 100%;
    height: 50vh;
    @media (max-width: 1200px) {
      margin: unset;
    }
    .product_bg_L {
      width: 50%;
      height: 100%;
      background-image: url(../img/product_bg_l.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    .product_bg_R {
      width: 50%;
      height: 100%;
      background-image: url(../img/product_bg_r.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }

  .sec_container {
    width: 100%;
    height: 100vh;
    padding: 3% 0;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      height: unset;
    }
    .sec_position_top_hidden {
      width: 100%;
      background-color: white;
      align-items: center;
      visibility: hidden;
      @media (max-width: 1200px) {
        height: unset;
        visibility: visible;
      }
      .sec_position_top_hidden_title {
        font-size: 28px;
        color: #66c302;
      }
      .sec_position_mid_hidden_title {
        font-size: 16px;
        padding: 10px 0 0;
        color: darkslategray;
      }
      .sec_position_btm_hidden_content {
        padding: 3% 10%;
        font-size: 18px;
      }
    }

    .sec_position_btm {
      // width: 100%;
      min-height: 70vh;
      position: absolute;
      top: 10vh;
      z-index: 1;
      &::before {
        content: "";
        max-width: 135%;
        width: 135%;
        height: 60vh;
        background-image: url(../img/plant.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
        right: 0;
        z-index: 1;
      }
      // &::after {
      //   content: "";
      //   max-width: 135%;
      //   width: 135%;
      //   height: 30vh;
      //   position: absolute;
      //   background-color: #172c14;
      //   bottom: 10%;
      //   left: 0;
      //   z-index: 0;
      //   @media (max-width: 1200px) {
      //     display: none;
      //   }
      // }
      @media (max-width: 1200px) {
        width: 100%;
        order: 2;
        position: unset;
      }
    }
    // 今天利用bootstrap的container去切齊邊線，因為bootstrap本身有padding，所以採用::before方式蓋掉原本的圖案，解決固有padding問題
    .sec_position_top {
      width: 25vw;
      max-width: 320px;
      min-width: 250px;
      height: 25vw;
      max-height: 320px;
      min-height: 250px;
      padding: 2% 0 0;
      background-color: white;
      position: absolute;
      top: 25%;
      right: 10%;
      align-items: center;
      z-index: 2;
      @media (max-width: 1200px) {
        visibility: hidden;
      }
      .sec_position_top_title {
        font-size: 28px;
        color: #66c302;
        @media (max-width: 1440px) {
          font-size: 23px;
        }
      }
      .sec_position_mid_title {
        font-size: 16px;
        color: darkslategray;
        @media (max-width: 1440px) {
          font-size: 14px;
        }
      }
      .sec_position_btm_content {
        padding: 3% 15%;
        flex: 6;
        font-size: 18px;
        @media (max-width: 1280px) {
          font-size: 15px;
        }
      }
    }

    .sec_background_btm {
      align-self: flex-end;
      width: 100%;
      height: 30vh;
      position: absolute;
      // right: 0;
      bottom: 12%;
      &::after {
        content: "";
        max-width: 135%;
        width: 135%;
        height: 30vh;
        position: absolute;
        background-color: #172c14;
        bottom: 12%;
        left: 0;
        z-index: 0;
        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
  }
  .card_container {
    background-image: url(../img/background.jpg);
    background-size: cover;
  }
  .card_desk {
    width: 100%;
    padding: 5% 0;
    justify-content: space-around;
    .card {
      width: 30%;
      padding: 20px 0;
      background-color: #577e6c;

      @media (max-width: 768px) {
        width: 100%;
        margin: 10px 0;
      }
      .card_title {
        color: #66c302;
        font-size: xx-large;
        padding: 5% 10%;
        margin: auto;
      }
      .card_text {
        color: #092b00;
        padding: 5% 10% 20%;
        margin: auto;
      }

      .card_link {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          .line-T {
            &::before {
              transform: scaleX(1);
              transform-origin: right;
            }
          }
          .line-B {
            &::before {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }

        .line-T {
          height: 2px;
          width: 70px;
          background-color: rgba(0, 0, 0, 0.2);
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #66c302;
            transform: scaleX(0);
            transition: transform 0.3s;
            transform-origin: left;
          }
        }
        .line-B {
          height: 2px;
          width: 70px;
          background-color: rgba(0, 0, 0, 0.2);
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #66c302;
            transform: scaleX(0);
            transition: transform 0.3s;
            transform-origin: right;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    background-image: url(/img/SVG/footer-background.svg);
    background-size: cover;
    background-position: center;
    padding: 3% 20%;
    .footer_top {
      width: 100%;
      margin-bottom: 15px;
      .logo {
        width: 30%;
        margin-right: 10%;
      }
      .adress {
        padding: 0 30px;
        li {
          color: white;
        }
        li {
          color: white;
          min-width: 50px;
          margin-right: 30px;
          @media (max-width: 684px) {
            margin: unset;
          }
        }
        .icon {
          #facebook_icon {
            stroke: black;
            stroke-width: 9;
            &:hover {
              stroke: blue;
              fill: blue;
            }
          }
          // 先設定stroke(邊框)顏色及粗細，然後再設定hover後的狀態
          svg {
            width: 24px;
            transition: 0.5s;
            margin: 5px;
            #path1,
            #path2,
            #path3 {
              fill: black;
            }
            &:hover {
              transition: 0.3s;
              #path1 {
                fill: url(#SVGID_1_);
              }
              #path2 {
                fill: url(#SVGID_2_);
              }
              #path3 {
                fill: url(#SVGID_3_);
              }
            }
          }
        }
      }
    }
    .footer_line {
      width: 100%;
      height: 2px;
      background-color: white;
    }
    .footer_btm {
      padding: 15px 0;
      color: white;
    }
  }
}
