html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  list-style: none;
  font-family: "CWTEXFANGSONG";

  //------------------------------此區可對物品添加陰影
  .box-shadow {
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
  }
  .drop-shadow {
    filter: drop-shadow(0 12px 3px rgba(0, 0, 0, 0.6));
  }
  // ------------------------------

  .banner {
    height: 100vh;
    background-image: url(/img/banner.jpg);
    background-size: cover;
    padding: 0 5%;

    ul {
      padding: 10px;
      a {
        font-size: 28px;
        color: #270501;
        transition: 0.5s;

        @media (max-width: 960px) {
          font-size: 24px;
        }
        @media (max-width: 650px) {
          font-size: 18px;
        }
        &:hover {
          color: crimson;
        }
      }
    }
    .cy_logo {
      padding: 5% 0 10%;
      width: 100%;
    }
  }

  .calendar_container {
    background-image: url(/img/background.jpg);
    background-size: cover;
    align-items: center;
    width: 100%;
    // height: 100vh;
    padding: 5% 20%;
    .content {
      width: 100%;
      height: 100%;
      .col-xl-6 {
        padding: unset;
      }
      .note {
        width: 50%;
        align-items: center;
        background-image: url(/img/cy_calendar_L.jpg);

        h3 {
          padding: 5% 0;
          color: white;

          font-size: 25px;
          @media (max-width: 1440px) {
            font-size: 23px;
          }
          @media (max-width: 1024px) {
            font-size: 21px;
          }
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .sec_container {
    background-image: url(/img/background.jpg);
    background-size: cover;
    .sec_background_top {
      width: 100%;
      height: 60vh;
    }
    position: relative;
    .sec_position_btm {
      width: 80%;
      height: 55%;
      background-image: url(../img/plant.jpg);
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 10%;
      .sec_position_top {
        width: 25vw;
        max-width: 300px;
        min-width: 250px;
        height: 25vw;
        max-height: 300px;
        min-height: 250px;
        padding: 2% 0 0;
        background-color: white;
        position: absolute;
        right: 0;
        transform: translate(50%, 65%);
        @media (max-width: 1140px) {
          transform: translate(50%, 70%);
        }
        @media (max-width: 1040px) {
          transform: translate(50%, 80%);
        }
        @media (max-width: 960px) {
          transform: translate(50%, 105%);
        }
        @media (max-width: 840px) {
          transform: translate(50%, 110%);
        }
        // @media (max-width: 785px) {
        //   transform: translate(50%, 120%);
        // }
        align-items: center;
        .sec_position_top_title {
          flex: 1;
          font-size: 28px;
          color: mediumseagreen;
          @media (max-width: 1440px) {
            font-size: 23px;
          }
          // @media (max-width: 960px) {
          //   font-size: 23px;
          // }
        }
        .sec_position_mid_title {
          flex: 1;
          font-size: 16px;
          color: darkslategray;
          @media (max-width: 1440px) {
            font-size: 14px;
          }
          @media (max-width: 960px) {
            font-size: 12px;
          }
        }
        .sec_position_btm_content {
          padding: 3% 15%;
          flex: 6;
          font-size: 18px;
          @media (max-width: 1280px) {
            font-size: 16px;
          }
          // @media (max-width: 768px) {
          //   font-size: 14px;
          // }
        }
      }
    }
    .sec_background_btm {
      width: 100%;
      height: 35vh;
      background-color: #172c14;
    }
  }
  .card_container {
    background-image: url(../img/background.jpg);
    background-size: cover;
    padding: 0 5%;
  }
  .card_desk {
    width: 100%;
    padding: 10% 0;
    justify-content: space-around;
    .card {
      width: 25%;
      padding: 20px 0;
      background-color: #577e6c;
      @media (max-width: 990px) {
        width: 30%;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin: 10px 0;
      }
      .card_title {
        color: #df7d30;
        font-size: xx-large;
        padding: 5% 10%;
        margin: auto;
      }
      .card_text {
        color: #092b00;
        padding: 5% 10%;
        margin: auto;
      }
      .card_link {
        color: #270501;
        margin: 0 auto;
        transition: 0.3s;
        &:hover {
          border-top: 1px #270501 solid;
          border-bottom: 1px #270501 solid;
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: #172c14;
    padding: 3% 10%;
    .footer_top {
      width: 100%;
      .logo {
        width: 30%;
      }
      .adress {
        padding: 15px 30px;
        li {
          color: white;
        }
        span {
          li {
            color: white;
            min-width: 50px;
            margin-right: 30px;
            @media (max-width: 684px) {
              margin: unset;
            }
          }
          .icon {
            #facebook_icon {
              stroke: black;
              stroke-width: 9;
              &:hover {
                stroke: blue;
                fill: blue;
              }
            }
            // 先設定stroke(邊框)顏色及粗細，然後再設定hover後的狀態
            svg {
              width: 24px;
              transition: 0.5s;
              margin: 5px;
              #path1,
              #path2,
              #path3 {
                fill: black;
              }
              &:hover {
                transition: 0.3s;
                #path1 {
                  fill: url(#SVGID_1_);
                }
                #path2 {
                  fill: url(#SVGID_2_);
                }
                #path3 {
                  fill: url(#SVGID_3_);
                }
              }
            }
          }
        }
      }
    }
    .footer_btm {
      padding: 30px 0;
      color: white;
    }
  }
}
